{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    {{ parent() }}
<div class="container-fluid row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    	<h1>Informations personnelles</h1>
    	<hr/>
        {{ form(form) }}
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}
