{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container-fluid row">
    <div class="col-md-12"><br>
        <h1 style="text-align: center">Proposer un voyage</h1>
        <br>
    </div>

</div>
<div class="container-fluid row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        {{ form(form) }}
    </div>
    <div class="col-md-4"></div>
</div>

    <script>
        // Using this tutorial for autocomplete address : https://www.youtube.com/watch?v=Rpzp0yCAmq4
        function activatePlacesSearch(){
            var inputstart = document.getElementById("appbundle_trip_startingPlace");
            var inputend = document.getElementById("appbundle_trip_endingPlace");
            var autocompletestart = new google.maps.places.Autocomplete(inputstart);
            var autocompleteend = new google.maps.places.Autocomplete(inputend);
        }
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk5VQ6Stqy4h02d6TvvBoT3KefsYZp1lA&libraries=places&callback=activatePlacesSearch"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}
