{% extends 'base.html.twig' %}

{% block body %}
    <div class="container center-block" style="text-align: center"><br><br>
        <h1>Déposer de l'argent sur le compte "{{ account.owner }}"</h1>
        <div class="row"><br/>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                {{ form(form) }}
            </div>
        </div><br><br><br>
        <div class="row">
            <div class="col-md-12">
                <a style="text-decoration: none; color: white;" href="{{ url('makeChanges', {'id': account.id}) }}">
                    <button class="btn btn-danger">
                        Retour
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %} {{ parent() }}
{% endblock %}