{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid center-block" style="text-align: center"><br><br>
        <h1>Position page</h1>
    </div>
{% endblock %}

{% block stylesheets %} {{ parent() }}
{% endblock %}