{% extends 'base.html.twig' %}
{% block body %}
    <br><br><h1 style="text-align: center">Erreur 404 (On a personnalisé cette page pour montrer qu'on y a pensé)</h1>
    <br><br>
<div style="text-align: center">
    <a style="text-align: center" href="{{ url('homepage') }}">Cliquez ici pour revenir à la page d'accueil !</a>
</div>

{% endblock %}